body {
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';
}
a {
    text-decoration: none;
}
.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
}
.navbar-playlist {
    background: linear-gradient(to bottom, #1c2772, #272270, #311b6e, #3a136b, #420667);
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    position: fixed;
    width: 300px;
    height: 100%;
    color: white;
    transition: all .2s ease-in;
}
.content {
    grid-column-start: 2;
}
.container-video {
    position: relative;
    padding-top: 56.25%;
}
.video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.platzi-title{
    font-size: 35px;
    color: white;
}
.platzi-title span {
    background: linear-gradient(to right, #ff0849, #ff0066, #ff0085, #ff00a6, #ff00c8);
    color: transparent;
    -webkit-background-clip: text;
}
.video-playlist ol li {
    padding: 10px;
}
.video-playlist ol li:hover {
    background-color: rgba(0,0,0,.5)
}
.friends-playlist p:first-child {
    font-weight: bold;
    font-size: 20px;
}
.friend {
    margin: 10px 0;
}
.friend a {
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
.friend img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settings a {
    color: white;
    font-size: 15px;
    margin: 5px;
}
.settings span {
    margin-right: 7px;
}
.copyright a{
    display: inline-block;
    color: white;
    margin: 5px 0;
}
.copyright a:last-child{
    font-weight: bold;
}
.wrapper {
    padding: 0 40px;
    box-sizing: border-box;
}
.hidden {
    display: none!important;
}
.video-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}
.video-views {
    margin-top: 5px;
}
.features-video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
}
.video-actions {
    display: grid;
    grid-template-columns: 170px 85px 85px;
    grid-gap: 40px;
}
.button {
    padding: 10px;
    background: linear-gradient(to right, #ff0849, #ff0066, #ff0085, #ff00a6, #ff00c8);
    color: white;
    border-radius: 5px;
    box-shadow: -5px 5px 0px 0 #2d4290;
}
.share-video,
.save-video {
    text-align: center;
}
.share-video span,
.save-video span {
    font-size: 23px;
}
.video-tags {
    display: flex;
    justify-content: space-evenly;
}
.tag {
    align-self: center;
    padding: 7px;
    border-radius: 20px;
    color: white;
}
.tag:nth-child(1) {
    background-color: #9b57fd;
}
.tag:nth-child(2) {
    background-color: #12ecc3;
}
.tag:nth-child(3) {
    background-color: #e01622;
}
.tag:nth-child(4) {
    background-color: #e13681;
}
.video-sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.video-suggest img {
    width: 100%;
    height: 100%;
}
.video-suggest{
    background-color: black;
    position: relative;
}
.suggest-video-container {
    margin-bottom: 40px;
}
.play-button,
.video-timing {
    position: absolute;
}
.play-button {
    top: calc(50% - 40px);
    right: calc(50% - 40px);
    display: none;
}
.play-button span {
    font-size: 80px;
    color: white;
}
.video-timing {
    color: white;
    right: 5%;
    bottom: 5%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 5px;
    display: none;
}
.video-suggest:hover .play-button,
.video-suggest:hover .video-timing {
    display: initial;
}
.video-suggest:hover img {
    opacity: .5;
}

input {
    width: 90%;
    padding: 5px;
    height: 15px;
}
.comments-section p:first-child,
.suggests-section p:first-child {
    font-size: 20px;
    font-weight: bold;
}
.comments-container {
    margin-top: 20px;
}
.comment {
    display: flex;
    align-items: center;
}
.comment img {
    width: 90px;
    border-radius: 50%;
}
.comment p {
    margin: 0;
}
.profile-info {
    margin-left: 10px;
}
.video-suggest-description {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}
.nav-hidden {
    padding: 0 50px;
    align-items: center;
    height: 80px;
    background: linear-gradient(to right, #1c2772, #272270, #311b6e, #3a136b, #420667);
    display: none;
}
.menu {
    font-size: 40px;
    color: white;
    margin-right: 25px;
    cursor: pointer;
}
.show-nav {
    left: 0!important;
}
@media only screen and (max-width : 992px) {
    .heading {
        display: flex;
        align-items: center;
    }
    .hidden {
        margin-right: 5px;
        display: inline-block!important;
    }
    .nav-hidden {
        display: flex;
    }
    .container {
        grid-template-columns: 1fr;
    }
    .navbar-playlist {
        left: -300px;
        z-index: 20;
    }
    .features-video {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 45px);
        grid-gap: 15px;
    }
    .video-tags{
        justify-content: start;
    }
    .tag {
        margin-right: 5px;
    }
}
@media only screen and (max-width : 768px) {
    .video-sections {
        grid-template-columns: 1fr;
    }
}